.starterblocks-modal-wrapper {

    .starterblocks-modal-body {
        flex: 1 1 auto;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        background: #fff;

        h5 {
            font-size: 1.1em;
            font-weight: 600;
        }

        ul {
            list-style-position: inside;
            list-style-type: disc;

            &.starterblocks-import-wizard-missing-dependency li {
                line-height: 1.8;
            }
        }

        .error {
            color: #f00;
        }
    }

    .starterblocks-import-wizard-spinner-wrapper {
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .starterblocks-import-progress {

        font-size: 1.1em;
        text-align: center;

        li {
            list-style: none;

            &.success {
                i {
                    color: #46b450;
                }
            }

            &.todo {
                //opacity: .9;
            }

            &.failure {
                i {
                    color: #dc3232;
                }
            }
            &.info {
                i {
                    color: #00a0d2;
                }
            }

            &.installing {
                i {
                    //color: #00a0d2;
                }
            }
        }
    }

    .starterblocks-import-progress {
        width: 50%;
        margin: 10px auto;
        li {
            display: flex;
            justify-content: space-between;
        }
    }
}
